<br>
<h1>Profile page!</h1>
<ul class="list-group">
    <li class="list-group-item">ID: {{user.id}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">First Name: {{user.firstName}}</li>
    <li class="list-group-item">Last Name: {{user.lastName}}</li>
    <li class="list-group-item">Role: {{user.role}}</li>
    <li class="list-group-item">Password (hashed): {{user.password}}</li>
</ul>
