<h1>Profile page!</h1>
<ul>
    <li>{{user.id}}</li>
    <li>{{user.email}}</li>
    <li>{{user.firstname}}</li>
    <li>{{user.lastname}}</li>
    <li>{{user.role}}</li>
    <li>{{user.password}}</li>
</ul>

<a href="/logout">Logout!</a>