{{> userType}}
<br>
<h1>Profile page!</h1>
<ul>
    <li>ID: {{user.id}}</li>
    <li>Email: {{user.email}}</li>
    <li>First Name: {{user.firstName}}</li>
    <li>Last Name: {{user.lastName}}</li>
    <li>Role: {{user.role}}</li>
    <li>Password (hashed): {{user.password}}</li>
</ul>

<a href="/logout">Logout!</a>